*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
height: 100vh;

}


.add-bill-container{
height: 35vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color:rgb(96, 188, 241);

}
.user-name{

    align-self: flex-start;
    padding: 15px;
    font-size: 26px;
   
}

.details-input{

    height: 40px;
    width: 350px;
}

.money-input{
  
    height: 40px;
    width: 90px;  
}

#category{
    padding-left: 15px;
    height: 40px;
    width: 200px; 

}

.add-bill{

    height: 40px;
    width: 200px; 
background-color: black;
color: aliceblue;
border: none;
align-self: flex-end;
margin:15px 15px;
}


.input-container{
display: flex;
width: 100%;


}

.inputs{
    display: flex;
  width: 100%;
  justify-content:center;
  margin: 15px;
  
    
}
.money-input{
margin: 0px 20px;
}

.insert-bill-container{
height: 75vh;




}

#category-select{
    display: block;
position: relative;
left: 40%;
    height: 40px;
    width: 200px; 
   margin-top: 15px;
   padding: 10px;
}


.bill{
background: rgb(96, 188, 241);
margin: 15px 15px;
padding: 15px;
text-align: center;
font-size: 30px;
border-radius: 10px;
}
.money{

    color: red;
}

.del{
    height: 40px;
    width: 90px; 
background-color: black;
color: aliceblue;
border: none;

}