*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;

}
input,label{
    display: block;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.disable{
    display: none;
}

button{
    cursor: pointer;
}